@import '../../../../styles/utils/variables.scss';

.navigationLinkWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border-top: 1px solid $c-elements;
  box-shadow: -1px 0px 0px $c-elements;

  height: 64px;
  width: 50%;

  &__icon-box {
    position: relative;
  }
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #313237;
}
