@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/typography.scss';
@import '../../styles/container.scss';
@import '../../styles/utils/variables.scss';

.home_page {
  &__title {
    @include h1Typography;

    max-width: 1136px;
    margin: 40px auto;
    padding: 0 16px;

    @include onTablet {
      padding: 0 24px;
    }

    @include onDesktop {
      padding: 0;
    }
  }
}
