@import '../../../../styles/utils/variables.scss';

.burger_menu__link {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: max-content;
  padding-bottom: 10px;
  margin-top: 32px;

  text-decoration: none;
  font-family: 'Mont', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $c-secondary;
}

.is-active {
  color: $c-primary;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color:$c-primary;
}
