.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc($full-height - $header-height--phone - $footer-height--phone);

  background-color: #ffffff;

  @include onTablet {
    height: calc($full-height - $header-height - $footer-height);
  }

  &__title {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 800;

    @include onTablet {
      margin-bottom: 50px;

      font-size: 36px;
    }

    @include onDesktop {
      margin-bottom: 50px;

      font-size: 48px;
    }
  }

  &__button {
    display: block;

    width: max-content;
    padding: 10px;

    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;

    background-color: #313237;

    transition: all 0.3s;

    @include onTablet {
      padding: 20px;
      font-size: 14px;
    }

    @include onDesktop {
      padding: 30px;
      font-size: 24px;
    }

    &:hover {
      box-shadow: 0px 3px 13px 0px #17203166;
    }

    &:active {
      background-color: #ffffff;
      border: 1px solid #e2e6e9;
      color: #27ae60;
    }
  }
}
