* {
  box-sizing: border-box;
}

html {
  font-family: 'Mont';
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@import './utils/variables.scss';
@import './utils/reset.scss';
@import './utils/mixins/screenWidth.scss';
@import './utils/mixins/helpers.scss';
@import './utils/mixins/typography.scss';
@import './font-faces.scss';
@import './container.scss';
@import '../components/Header/BurgerMenu/BurgerMenu.scss';
@import '../components/Header/BurgerMenu/NavigationLink/NavigationLink.scss';
@import '../components/Logo/Logo.scss';
@import '../components/Header/Header.scss';
@import '../components/NotFoundPage/notFoundPage.scss';
@import '../components/Footer/footer.scss';
