@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/typography.scss';
@import '../../styles/utils/mixins/helpers.scss';

.favourites {
  padding-bottom: 64px;
  @include mainHeight;

  &__title {
    margin-bottom: 8px;

    @include h1Typography;
    color: $c-primary;
  }

  &__count {
    margin-bottom: 40px;

    @include bodyTextTypography;
    color: $c-secondary;
  }

  &__list {
    gap: 16px;

    @include onTablet {
      flex-wrap: wrap;
      justify-content: start;
    }

    @include gridForPhones;
  }
}
@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/typography.scss';
@import '../../styles/utils/mixins/helpers.scss';

.favourites {
  padding-bottom: 64px;
  min-height: calc(
    $full-height - $header-height--phone - $footer-height--phone
  );

  @include onTablet {
    padding-bottom: 80px 0;
    min-height: calc($full-height - $header-height - $footer-height);
  }

  &__title {
    margin-bottom: 8px;

    @include h1Typography;
    color: $c-primary;
  }

  &__count {
    margin-bottom: 40px;

    @include buttonsTypography;
    color: $c-secondary;
  }

  &__list {
    @include gridForPhones;

    @include onTablet {
      flex-wrap: wrap;
      justify-content: start;
    }
  }
}
