$full-height: 100vh;
$footer-height: 98px;
$footer-height--phone: 290px;
$header-height: 64px;
$header-height--phone: 48px;
$header-margin: 40px;
$min-card-width: 280px;

$c-primary: #313237;
$c-white: #fff;
$c-elements: #f6f8fa;
$c-secondary: #89939a;
$c-icons: #b4bdc3;
$c-green: #27ae60;
$c-red: #eb5757;
$c-gray: #e2e6e9
