@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/typography.scss';
@import '../../styles/utils/mixins/helpers.scss';

.header {
  height: 48px;
  display: flex;
  padding-left: 16px;
  margin-bottom: 40px;

  align-items: center;

  color: $c-secondary;
  border-bottom: 1px solid $c-elements;

  @include onDesktop {
    height: 64px;
    padding-left: 24px;
  }

  &__nav {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    padding-left: 32px;

    @include onDesktop {
      gap: 64px;
      padding-left: 48px;
    }
  }

  &__c-icons {
    display: flex;
    justify-self: end;
    padding: 0;
  }

  &--menu {
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    padding: 15px 15px 13px 19px;
  }
}

.icon-box {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 0px 0px $c-elements;

  @include onPhone {
    display: none;
  }

  @include onDesktop {
    width: 64px;
    height: 64px;
  }

  &__menu {
    display: none;

    @include onPhone {
      display: flex;
    }
  }
}

.icon {
  width: 15px;
  height: 15px;
}

.navbar-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;

  @include resetLinkStyles;
  @include uppercaseTypography;

  @include onPhone {
    display: none;
  }

  @include onDesktop {
    height: 64px;
  }
}

.is-active {
  color: $c-primary;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: $c-primary;
}
