.footer {
  color: $c-secondary;
  background-color: $c-white;
  box-shadow: 0px -1px 0px 0px $c-elements;
  height: 98px;

  &__content {
    display: flex;
    flex-direction: column;

    padding-top: 34px;
    padding-bottom: 32px;

    @include onTablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    list-style: none;
    text-transform: uppercase;

    @include onTablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 16px;

    transition: color 0.3s;

    &:last-child {
      margin-right: 0;
      margin-bottom: 32px;
    }

    @include onTablet {
      margin-right: 6px;
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: $c-primary;
      }
    }

    @include onDesktop {
      margin-right: 86px;
    }
  }

  &__link {
    padding-right: 10px;

    @include resetLinkStyles;
    @include uppercaseTypography;

    @include onTablet {
      padding: 4px;
    }

    @include onDesktop {
      padding: 10px;
    }
  }

  &__button--up {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;

    width: max-content;

    @include resetLinkStyles;

    @include onTablet {
      margin: 0;
    }

    &:hover {
      color: $c-primary;
    }
  }

  &__back-to-top {
    margin-right: 16px;

    @include smallTextTypography;

    font-weight: 700;

    transition: color 0.3s;
  }

  &__arrow {
    height: 32px;
    width: 32px;
    border: 1px solid $c-icons;

    background-image: url(../../images/arrow-up.svg);
    background-repeat: no-repeat;
    background-size: 6px 10px;
    background-position: center;
    box-shadow: 0px -1px 0px 0px $c-elements;

    transition: border 0.3s;

    &:hover {
      border: 1px solid $c-primary;
    }
  }
}

.logo {
  &__img {
    display: block;
    height: 30px;
  }
}