@import '../../../styles/utils/mixins/screenWidth.scss';
@import '../../../styles/utils/variables.scss';

.promo {
  margin: 0 auto;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    max-width: 1136px;

    padding: 0;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;

    @include onTablet {
      padding: 0 48px;
    }
  }

  &__pagination-custom {
    margin-top: 10px;
    text-align: center;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 4px;

  opacity: 1;
  background-color: $c-gray;
  border-radius: 0;

  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: $c-primary;

  transition: background-color 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;

  @include onTablet {
    position: absolute;

    display: block;
    margin: 0;
    width: 32px;
    height: 100%;

    border: 1px solid $c-icons;
    background-color: $c-white;

    transition: border-color 0.3s ease;

    &:hover {
      border-color: $c-secondary;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 10px;
    }
  }
}

.swiper-button-prev {
  left: 0;
  top: 0;

  &::after {
    background: url(../../../images/arrow-prev.svg) no-repeat center;
  }
}

.swiper-button-next {
  right: 0;
  top: 0;

  &::after {
    background: url(../../../images/arrow-next.svg) no-repeat center;
  }
}
