@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/typography.scss';
@import '../../styles/utils/mixins/helpers.scss';

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-bottom: 40px;

  &__icon {
    height: 16px;
    width: 16px;

    &-home {
      background: url(../../images/Home.svg) no-repeat center;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
    }
    }

    &-arrow {
      background: url(../../images/arrow-right.svg) no-repeat center;
    }
  }

  &__name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include resetLinkStyles;
    @include smallTextTypography;
    color: $c-primary;
    line-height: 15px;

    transition: text-shadow 0.3s;

    &--current {
      color: $c-secondary;
    }

    &:hover {
      text-shadow: $c-gray 1px 1px 1px;
    }
  }
}
