@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/helpers.scss';
@import '../../styles/utils/mixins/typography.scss';

.phones {
  &__title {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
    margin-bottom: 8px;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__selects {
    display: flex;
    gap: 16px;
  }

  &__models-count {
    @include buttonsTypography;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr;
    @include gridForPhones;
  }
}