@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins/screenWidth.scss';
@import '../../styles/utils/mixins/helpers.scss';
@import '../../styles/utils/mixins/typography.scss';

.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mainHeight;

  &__title {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 800;

    @include onTablet {
      margin-bottom: 50px;

      font-size: 36px;
    }

    @include onDesktop {
      margin-bottom: 50px;

      font-size: 48px;
    }
  }

  &__button {
    @include primaryButton;

    @include onTablet {
      padding: 20px;
      font-size: 14px;
    }

    @include onDesktop {
      padding: 30px;
      font-size: 24px;
    }
  }
}
